# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SHO_LEFT

config ZMK_KEYBOARD_NAME
	default "SHO"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SHO_LEFT || SHIELD_SHO_RIGHT

config ZMK_SPLIT
	default y

endif
